body{
  padding: 0;
  margin: 0;
  background-image: linear-gradient(45deg, #9B00FF, #7700C4, #9434C8,#5E009B );
  font-family: 'Open Sans', sans-serif;
}


/*header*/ 

header{
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
font-family: 'Open Sans', sans-serif;
justify-content: space-evenly;
letter-spacing: 2px;
height: 100px;
font-size: 23px;


}



header a{

text-decoration: none;
color: white;

}

header input{

height: 50px;
font-size: 20px;
background-color: rgb(49, 49, 49);
padding-left: 48px;
width: 400px;
border-radius: 100px;
color: #9434C8;
border-width: 0px;

}

header #pesquisa{
padding-right: 30px;


}

header input::placeholder {
color: #9434C8

}


header #cathover{
top: 100px;
position: fixed;
background-color: white;
width: 180px;
border-radius: 10px 10px 10px 10px;
font-size: 10px;
box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
padding-bottom: 10px;
padding-top: 10px;
display: none;
}
header #cathoveritens{
height: 40px;
}

.categorias:hover #cathover {
display: block;



}
.categorias ul {
list-style: none;
padding: 0;
margin: 0;
justify-content:left;

}
#cathover ul li a:hover {
font-size: 17px;
font-weight: bold;
transition: 200ms;
color:#9434C8;
}

.categorias ul li {
text-align: left;
margin-bottom: 20px;
margin: 0;
padding-bottom: 15px;

}
.categorias{

height: 100px;
align-items: center;
width: 150px;
display: flex;
justify-content: space-evenly;
padding: 0;
}
.itensHeader2{
align-items: center;
display: flex;
justify-content: space-evenly;
width: 200px;

}
.itensHeader3{
align-items: center;
display: flex;
width: 300px;
justify-content: space-evenly;

}

.itensHeader{
align-items: center;
display: flex;
justify-content: space-evenly;
width: 100px;


}

.categorias ul li a {
color: #000000;
text-decoration: none;
font-size: 15px;
margin: 0;
padding: 5px;
width: 500px;
padding-right: 180px;
margin-left: 20px;

}

header #pesquisa{
background: url(img/lupa.png) rgb(255, 255, 255) no-repeat;
background-position: 10px 8px;
background-size: 30px;
flex-grow: 1;
border-radius: 100px;
margin-left: 10px;
margin-right:10px;
outline: none;

}

header #logo{
display: flex;
font-size: 25px;
padding-left: 15px;
margin: 0px;
font-family: 'Passion One', cursive;
}
header #imglogo{
padding: 0px;
margin-top: 0px;
}
body{
padding: 0;
margin: 0;
}
header a{
margin-left: 35px;
margin-right:35px;
}

.header:hover {
font-size: 19px;
font-weight: bold;
transition: 200ms;

}

#imglogo:hover {
width: 230px;
transition: 200ms;

}

header .imgdir:hover{
width: 60px;
transition: 200ms;
}

header .header{
font-size: 17px;
}
#perfil{
border-radius: 100px;
}
/*body*/

#fundo{
  width: 100%;
 
}
#board{
  margin: 0 auto;
  width: 83%;
  height: 600px;
  align-content: flex-start;
  flex-wrap: wrap;
  border-radius: 20px;
  background-color: white;
  display: flex;
  
}
.aulas{
  background-color: #9B00FF;
  display: flex;
  width: 150px;
  justify-content: space-between;
  font-size: 10px;
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  border-radius: 100px;
  padding: 0px 20px 0px 20px; 
  margin: 10px;
}
#edit{
  margin-right: 7px;
}
#addaula{
  background-color: #dfdfdf;
  width: 130px;
  font-size: 9px;
  color: rgb(0, 0, 1);
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  border-radius: 100px;
  padding: 0px 20px 0px 20px; 
  margin: 10px;
  

}

#link{
  background-color: #dfdfdf;
  font-size: 9px;
  color: rgb(0, 0, 1);
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  border-radius: 100px;
  padding: 0px 10px 0px 10px; 
  margin: 10px;
  margin-top: 17px;
  text-align: center;
  text-decoration: none;

}
#textadd{
  margin-top: 17px;
  text-align: center;
}
#titulo{
  color: white;
  text-align: center;
  font-size: 40px;
}

/* footer*/
footer {
  color: #fff;
  padding: 40px 0;
  margin-top: 500px;
  font-family: 'Open Sans', sans-serif;
  bottom: 0;
  width: 100%;
  
}

.footerConteiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 
}

.fotterSecao {
  
  margin: 0 10%;
  margin-bottom: 20px;
  
  
}

.fotterSecao a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
}

.fotterSecao a:hover {
  text-decoration: underline;
  transition: 200ms;
  
}

#footerLogo{
  text-align: center;
}