 /*header*/ 


 header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    justify-content: space-evenly;
    letter-spacing: 2px;
    height: 100px;
    font-size: 23px;
   
  }
  
  
  
  header a{
  
    text-decoration: none;
    color: white;

  }
   
  header input{
  
  height: 50px;
  font-size: 20px;
  background-color: rgb(49, 49, 49);
  padding-left: 48px;
  width: 400px;
  border-radius: 100px;
  color: white;
  color: #9434C8;
  border-width: 0px;
  
  }

  header #pesquisa{
  padding-right: 30px;
  
  
  }

  header input::placeholder {
  color: #9434C8
  
  }

  
  header #cathover{
    top: 100px;
    position: fixed;
    background-color: white;
    width: 180px;
    border-radius: 10px 10px 10px 10px;
    font-size: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
    padding-top: 10px;
    display: none;
  }

  header #cathoveritens{
    height: 40px;
  }
  

  .categorias:hover #cathover {
    display: block;
   
    

  }
  .categorias ul {
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content:left;
    
}
#cathover ul li a:hover {
  font-size: 17px;
  font-weight: bold;
  transition: 200ms;
  color:#9434C8;
}

.categorias ul li {
    text-align: left;
    margin-bottom: 20px;
    margin: 0;
    padding-bottom: 15px;
 
}
.categorias{
   
    height: 100px;
    align-items: center;
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}
.itensHeader2{
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 200px;

}
.itensHeader3{
  align-items: center;
  display: flex;
  width: 300px;
  justify-content: space-evenly;

}

.itensHeader{
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100px;
  

}

.categorias ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 15px;
    margin: 0;
    padding: 5px;
    width: 500px;
    padding-right: 180px;
    margin-left: 20px;
    
}

  header #pesquisa{
  background: url(img/lupa.png) rgb(255, 255, 255) no-repeat;
  background-position: 10px 8px;
  background-size: 30px;
  flex-grow: 1;
  border-radius: 100px;
  margin-left: 10px;
  margin-right:10px;
  outline: none;
  
  }
 
  header #logo{
    display: flex;
    font-size: 25px;
    padding-left: 15px;
    margin: 0px;
    font-family: 'Passion One', cursive;
  }
  header #imglogo{
    padding: 0px;
    margin-top: 0px;
}
body{
  padding: 0;
  margin: 0;
}
header a{
  margin-left: 35px;
  margin-right:35px;
}

.header:hover {
  font-size: 19px;
  font-weight: bold;
  transition: 200ms;

}

#imglogo:hover {
  width: 230px;
  transition: 200ms;
  
}

header .imgdir:hover{
  width: 60px;
  transition: 200ms;
}

header .header{
  font-size: 17px;
}
header #perfil{
  width:60px;
    height:60px;
    object-fit: cover;
    border-radius: 100%;
}

/* body*/

#fundo{
  height: 500px;
  background-image: linear-gradient(45deg, #9B00FF, #7700C4, #9434C8,#5E009B );
}
#perfil2{
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  width: 1100px;
  height: 300px;
  justify-content: space-evenly;
  align-items: center;
 
}
#fotoPerfil{
  width: 200px;
  height: 300px;
  
}
#fotodeperfil{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
  margin-top: 50px; 

}

.botaoPerfil{
  background-color: white;
  width: 200px;
  margin: auto auto;
  text-align: center;
  color:#9B00FF;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  border-radius: 80px;
  

}
.botaoPerfil:hover{
  background-color: rgb(185, 185, 185);
  font-weight: bold;
  

}

a{
  text-decoration: none;
  
}

#mae{
  width: 1300px;
  margin: 0 auto;
}
#titulo{
  font-family: 'Open Sans', sans-serif;
  color:#7700C4;
  font-weight: bold;
  margin: 0;
  margin-top: 50px;

}
.cont{
  display: flex;
  width: 1100px;
  height: 100%;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
 
  

}

#titulo{
  font-family: 'Open Sans', sans-serif;
  color:#7700C4;
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;

}

.cursos{
width: 1100px;
margin: 0 auto;
margin-bottom: 30px;




}
.curso{
  background-color: white;
  height: 320px;
  width: 230px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  margin: 20px 20px;

  
  
}
#imgprod{
  border-radius: 20px 20px 0 0;
  width: 230px;
  height: 150px;
  object-fit: cover;
  
}

#nome{
height: 45px;
  margin: 0px 10px;
  text-overflow: ellipsis;
  
}
#nomeProd{
  font-family: 'Open Sans', sans-serif;
  color:#000000;
  font-weight: bold;
  font-size: 15px;
  margin: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  
  
}
#preco{
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  margin: 10px 0 15px 15px;
  color:#05770b;

}
#comprar{
font-family: 'Open Sans', sans-serif;
color:white;
text-align: center;
margin: 0 auto;
background-image: linear-gradient(45deg, #9B00FF, #7700C4, #9434C8,#5E009B );
width: 200px;
height: 35px;
padding-top: 5px;
border-radius: 100px;



}
#textadd{
  color: #7700C4;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 0;

}
#imgadd{
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
#addcurso{
  margin: 20px;
}
#addcurso:hover{
  filter: brightness(70%)
}
a{
text-decoration: none;
}
.curso:hover #imgprod, .curso:hover #comprar{
filter: brightness(70%)

}



/* footer*/
footer {
  background-image: linear-gradient(45deg, #9B00FF, #7700C4, #9434C8,#5E009B );
  color: #fff;
  padding: 40px 0;
  margin-top: 500px;
  font-family: 'Open Sans', sans-serif;
  bottom: 0;
  width: 100%;
  
}

.footerConteiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 
}

.fotterSecao {
  
  margin: 0 10%;
  margin-bottom: 20px;
  
  
}

.fotterSecao a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
}

.fotterSecao a:hover {
  text-decoration: underline;
  transition: 200ms;
  
}

#footerLogo{
  text-align: center;
}